################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SamuelCRodrigues.DesafioBackend.Api/bin/Debug/netcoreapp2.1
